html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(-45deg, #00ffff, #000000, #ffffff, #ffff00);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 25%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 25%;
    }
}


.Nav {
    font-style: unset;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


h1 {
    font-style: oblique;
    text-align: center;
    font-size: 20pt;
}

.welcome-text {
    width: 300px;
    text-align: center;
    /* background: -webkit-linear-gradient(to left, #ffff00, #ffffff, #000000, #00ffff);
    background-clip: text;
    background-size: 400% auto;
    -webkit-text-fill-color: transparent;
    animation: textShine 10s ease infinite; */
}

@keyframes textShine {
    0% {
        background-position: 0% auto;
    }

    50% {
        background-position: 100% auto;
    }

    100% {
        background-position: 0% auto;
    }
}

.red-button {
    background-color: red;

}